
table *{
    font-family: 'Times New Roman', Times, serif;
}
tbody{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 10, 24);
}
th{
    background-color:rgb(221, 235, 195);
    color: rgb(0, 17, 39);
    position: sticky;
    top: 0px;
}

tr:nth-child(even){
    background-color: rgb(228, 228, 228);
}
th,td{
    text-align: left;
    padding: 15px;
   ;
}
div{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: rgb(221, 235, 195);
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(124, 141, 92);
}
table{
    width: 100%;
    background-color: rgb(124, 141, 92);
}